.card{
    width: 420px;
    transition: all .3s;
    cursor: pointer;
}

.card:hover{
    box-shadow: 0 0 15px rgba(0,0,0, .5);
}



.card__title{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #112B3E;
    color: #fff;
    text-align: center;
}