:root{
  --main-color: #112B3E;
  --background-color: #839695;
  --text-color: #fff;
  --shadow: rgba(0,0,0, .3);
}

.header{
  padding: 23px 27px 12px;
  background-color: var(--main-color);
  
}

.header a{
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  color: var(--text-color);
}

.header a span{
  font-size: 24px;
}

